html, body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
header{
  height: 10vh;
  box-shadow: 2px 5px 20px rgba(255, 185, 22, 0.5);
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
nav ul{
  height: 10vh;
  margin-top: 0;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  line-height: 10vh;
}
nav ul li{
  display: inline-block;
  color: rgb(255, 185, 22);
  font-size: 1.3em;
}
nav ul li:hover{
  cursor: pointer;
  font-weight: bold;
}
#mainBox{
  min-height: 90vh;
  width: 100%;
}
h1{
  color: rgb(255, 185, 22);
  text-align: center;
  padding: 0;
  margin: 0;
  height: 10vh;
  padding: 10vh 0 10vh 0;
}
h2,h3{
  color: rgb(255, 185, 22);
  text-align: center;
  padding: 0;
  margin: 0;
  height: 5vh;
}
h2{
  padding: 10vh 0 5vh 0;
}
h3{
  padding: 5vh 0 50px 0;
}
p, ul{
  font-size: 1.2em;
  color: rgb(122, 122, 122);
  line-height: 30px;
  padding: 0;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
ul{
  text-align: left;
  width: 30%;
}
.chucho{
  font-size: 0.7em;
}
#description{
  width: 35%;
  margin: auto;
  font-size: 1.3em;
  line-height: 40px;
  height: 30vh;
}
#footerHome{
  font-size: 1em;
  height: 10vh;
}
img, .code, .var_dump{
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}
.incode{
  background-color: #F7F7F7;
  width: 100%;
  line-height: 30px;
  font-size: 1.1em;
}
.pokemon{
  width: 100px;
  display: inline-block;
}
#pokemon_page3{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}
#pokemon_1, #pokemon_2, #dev{
  display: none;
}
#demo_page3{
  border: solid black 1px;
  margin: auto;
}
